<footer class="footer">

    <div class="footer__left">
    <ul class="footer__list">
    <li>
        <a href="#" class="footer__link">
            <img src="/frontend/public/assets/instagram.png" alt="Instagram"> Instagram
        </a>
    </li>

    <li>
        <a href="#" class="footer__link">
            <img src="/frontend/public/assets/whatsapp.png" alt="Whatsapp"> Whatsapp
        </a>
    </li>

    <li>
        <a href="#" class="footer__link">
            <img src="/frontend/public/assets/facebook.png" alt="Facebook"> Facebook
        </a>
    </li>
    </ul>
    </div>

    <div class="footer__right">
        <span class="footer__copyright">
            ©Todos los derechos reservados - Proyecto Agropecuario
        </span>
        <a href="#" class="footer__contact">
            <img src="/frontend/public/assets/locate.png" alt="Contáctanos"> Contáctanos
        </a>
    </div>
</footer>