<section class="resumen__producto">
  <div class="resumen__producto__descripcion">
    <p class="resumen__producto__descripcion__texto">Total a pagar</p>
  </div>
  <div class="resumen__producto__detalle">
    <div class="resumen__producto__campo">
      <label>Total productos</label>
      <input type="text" id="total__productos" value="3" readonly class="resumen__producto__input">
    </div>
    <div class="resumen__producto__campo">
      <label>Total a pagar</label>
      <input type="text" id="total__pagar" value="72500" readonly class="resumen__producto__input">
    </div>
    <button class="resumen__producto__btn__pagar">Pagar</button>
  </div>
</section>
