<!-- Contenedor principal de la tarjeta de producto -->
<div class="producto">

  <!-- Imagen del producto con su respectiva ruta y texto alternativo-->
  <img src="/frontend/public/assets/manzanagala.jpg" alt="Manzanas" class="producto__imagen">

  <div class="producto__info">
  <div class="producto__detalles">
    <p class="producto__precio">$5.000</p>
    <h3 class="producto__nombre">Manzana Gala</h3>
    <p class="producto__categoria">Fruta</p>
  </div>

    <button class="producto__btn-añadir">
      <i class="fas fa-shopping-cart producto__icono-carrito"></i> Añadir
    </button>
    
  </div>
</div>



