<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componentes</title>
    <!-- Archivo de estilos -->
    <link rel="stylesheet" href='/frontend/public/css/main.css'>
    <meta charset="UTF-8">
    <title>AgroNet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Scripts navbar -->
    <script src="/frontend/public/js/components/navbar.js" defer></script>
    <!-- Scripts footer -->
    <script src="/frontend/public/js/components/footer.js" defer></script>

    <!-- Script de la tarjeta contacto-->
    <script src="/frontend/public/js/components/form.js"></script>
    <script src="/frontend/public/js/components/payment_method.js"></script>
</head>
<body>

    <!-- Navbar -->
    <header class="head">
        <div class="navbar-container"></div>
    </header>

    <!-- Contenido de la pagina -->
    <!-- Contenedor de form y payment method -->
    <div class="double-container">
        <div id="form-container"></div>
        <div id="payment-method-container"></div>
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-container"></div>
    </footer>

</body>
</html>