<div class="producto__carrito">
  <img src="/Frontend/public/assets/manzan.jpg" alt="Producto" class="producto__carrito__img">

  <div class="producto__carrito__detalles">
    <p class="producto__carrito__detalles__nombre">Manzana Gala</p>
  </div>

  <div class="producto__carrito__cantidad">
    <label for="cantidad">Cantidad</label>
    <div class="producto__carrito__contador">
      <button class="producto__carrito__contador__btn">-</button>
      <input type="text" id="cantidad" value="5" readonly class="producto__carrito__contador__input">
      <button class="producto__carrito__contador__btn">+</button>
    </div>
  </div>

  <div class="producto__carrito__precio">
    <label for="precio">Precio Unidad</label>
    <input type="text" id="precio" value="5.000" readonly class="producto__carrito__precio__input">
  </div>

  <div class="producto__carrito__total">
    <label for="total">Total</label>
    <input type="text" id="total" value="25.000" readonly class="producto__carrito__total__input">
  </div>

  <div class="producto__carrito__acciones">
    <button class="producto__carrito__acciones__editar">
      <i class="fas fa-pen"></i> Editar
    </button>
  </div>
</div>
